### OS ###
.DS_Store

### Xcode ###
app/xcuserdata/
app/**/xcuserdata/
app/*.xcworkspace/xcuserdata/
app/DerivedData/
app/*.xcuserstate

### Java / Gradle (server) ###
server/**/*.class
server/**/*.log
server/**/*.log.*.gz
server/.gradle/
server/build/
server/out/
server/.idea/
server/*.iml
server/src/main/resources/application.properties
server/src/main/java/com/spring/dishcovery/recipe/application/OpenAiService.java
server/uploads/
