<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dishcovery.user.domain.mapper.UserMapper">

    <insert id="saveUserData" parameterType="com.spring.dishcovery.user.domain.entity.UserEntity">
        INSERT INTO USER_MASTER (
                                 USER_ID,
                                 USER_NAME,
                                 USER_PSWD,
                                 USER_MAIL,
                                 JOIN_DATE,
                                 USER_ROLE,
                                 USER_STATUS

        ) VALUES (#{userId},
                  #{userName},
                  #{userPswd},
                  #{userMail},
                  NOW(),
                  'U',
                  'N'
                )
    </insert>

    <select id="findByUserId" parameterType="string" resultType="com.spring.dishcovery.user.domain.entity.UserEntity">
        SELECT USER_ID, USER_NAME, USER_PSWD, USER_MAIL, JOIN_DATE, USER_STATUS, POINT_BALANCE
        FROM USER_MASTER
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateUserStatus" parameterType="map">
        UPDATE USER_MASTER
        SET USER_STATUS = #{userStatus}
        WHERE USER_ID = #{userId}
    </update>

    <select id="findByUserMail" parameterType="string" resultType="com.spring.dishcovery.user.domain.entity.UserEntity">
        SELECT USER_ID, USER_NAME, USER_PSWD, USER_MAIL, JOIN_DATE, USER_STATUS, POINT_BALANCE
        FROM USER_MASTER
        WHERE USER_MAIL = #{userMail}
            LIMIT 1
    </select>

    <update id="updateUserPassword">
        UPDATE USER_MASTER
        SET USER_PSWD = #{userPswd}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateUserName">
        UPDATE USER_MASTER
        SET USER_NAME = #{userName}
        WHERE USER_ID = #{userId}
    </update>

    <update id="addUserPoints">
        UPDATE USER_MASTER
        SET POINT_BALANCE = POINT_BALANCE + #{amount}
        WHERE USER_ID = #{userId}
    </update>

    <update id="deductUserPoints">
        UPDATE USER_MASTER
        SET POINT_BALANCE = POINT_BALANCE - #{amount}
        WHERE USER_ID = #{userId}
          AND POINT_BALANCE >= #{amount}
    </update>

    <select id="countByUserMail" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM USER_MASTER
        WHERE USER_MAIL = #{userMail}
    </select>

    <select id="findRecommUser" resultType="com.spring.dishcovery.user.domain.entity.UserEntity">
        SELECT USER_ID,
               USER_NAME,
               USER_PSWD,
               USER_MAIL,
               JOIN_DATE,
               POINT_BALANCE
        FROM USER_MASTER
        WHERE USER_ID != #{userId}
        ORDER BY RAND()
            LIMIT 5
    </select>

    <insert id="insertLedger">
        INSERT INTO POINT_LEDGER (USER_ID, POINT_CHANGE, TRANSACTION_TYPE, DESCRIPTION, CREATED_AT)
        VALUES (#{userId}, #{point}, #{transactionType}, #{description}, NOW())
    </insert>
</mapper>